# Hcad data of Commercial Real Estate Building

In [1]:
# Imports
import time
import sys
from zipfile import ZipFile
import pandas as pd
import pandas.io.sql as pdsql
import glob, os
import numpy as np
# Datetime for new column
import datetime
# Imports for mySQL
from sqlalchemy import create_engine, event, DateTime
from db_setup import mysql_user, mysql_password, db_name
import mysql.connector

In [2]:
mydir = os.path.abspath('./HotelOccupancyTaxData')

In [3]:
mydir

'C:\\DataAnalyticsBootCamp\\WEEK_23 - Project 3\\Project_3_Potential_Marketing\\CRE_Marketing_Data\\HotelOccupancyTaxData'

## Adding Headers to Txt files from hcad.org

In [4]:
land = ['ACCOUNT',
            'LINE_NUMBER',
            'LAND_USE_CODE',
            'LAND_USE_DSCR',
            'SITE_CD',
            'SITE_CD_DSCR',
            'SITE_ADJ',
            'UNIT_TYPE',
            'UNITS',
            'SIZE_FACTOR',
            'SITE_FACT',
            'APPR_OVERRIDE_FACT',
            'APPR_OVERRIDE_REAS',
            'TOT_ADJ',
            'UNIT_PRICE',
            'ADJ_UNIT_PRICE',
            'VALUE',
            'OVERRIDE_VALUE']

real_account = ['ACCOUNT',
                'TAX_YEAR',
                'MAILTO',
                'MAIL_ADDR_1',
                'MAIL_ADDR_2',
                'MAIL_CITY',
                'MAIL_STATE',
                'MAIL_ZIP',
                'MAIL_COUNTRY',
                'UNDELIVERABLE',
                'STR_PFX',
                'STR_NUM',
                'STR_NUM_SFX',
                'STR_NAME',
                'STR_SFX',
                'STR_SFX_DIR',
                'STR_UNIT',
                'SITE_ADDR_1',
                'SITE_ADDR_2',
                'SITE_ADDR_3',
                'STATE_CLASS',
                'SCHOOL_DIST',
                'MAP_FACET',
                'KEY_MAP',
                'NEIGHBORHOOD_CODE',
                'NEIGHBORHOOD_GROUP',
                'MARKET_AREA_1',
                'MARKET_AREA_1_DSCR',
                'MARKET_AREA_2',
                'MARKET_AREA_2_DSCR',
                'ECON_AREA',
                'ECON_BLD_CLASS',
                'CENTER_CODE',
                'YR_IMPR',
                'YR_ANNEXED',
                'SPLT_DT',
                'DSC_CD',
                'NXT_BUILDING',
                'TOTAL_BUILDING_ARE',
                'TOTAL_LAND_AREA',
                'ACREAGE',
                'CAP_ACCOUNT',
                'SHARED_CAD_CODE',
                'LAND_VALUE',
                'IMPROVEMENT_VALUE',
                'EXTRA_FEATURES_VAL',
                'AG_VALUE',
                'ASSESSED_VALUE',
                'TOTAL_APPRAISED_VA',
                'TOTAL_MARKET_VALUE',
                'PRIOR_LND_VALUE',
                'PRIOR_IMPR_VALUE',
                'PRIOR_X_FEATURES_V',
                'PRIOR_AG_VALUE',
                'PRIOR_TOTAL_APPRAI',
                'PRIOR_TOTAL_MARKET',
                'NEW_CONSTRUCTION_V',
                'TOTAL_RCN_VALUE',
                'VALUE_STATUS',
                'NOTICED',
                'NOTICE_DATE',
                'PROTESTED',
                'CERTIFIED_DATE',
                'LAST_INSPECTED_DAT',
                'LAST_INSPECTED_BY',
                'NEW_OWNER_DATE',
                'LEGAL_DSCR_1',
                'LEGAL_DSCR_2',
                'LEGAL_DSCR_3',
                'LEGAL_DSCR_4',
                'JURS']

#### Unzipping files within specified directory

In [ ]:
# extract all files
i = 0
for file in glob.glob(mydir + '/*.zip'):
    i += 1
    zip = ZipFile(file, 'r')
    print(f'Extracting file {i}')
    zip.extractall(mydir)
    zip.close()
    print('Done!')
    print(f"File {i}, extracted: {file}\n")
    time.sleep(1)
#     os.remove(file)

## Specified Text file to Dataframe

In [6]:
for file in glob.glob(mydir + '/*.txt'):
    if "land" in file:
        df_land = pd.read_table(file,
                                   sep='\t',
                                    quotechar='"', 
                                    error_bad_lines=False,
#                                   widths=[11, 50, 40, 20, 2, 5, 3, 2, 10, 1, 8, 8, 2, 10, 8, 8, 2, 1, 3, 8, 6],
                                   header=None,
                                   names=land, index_col=False, engine= 'python') 
        df_land = df_land.append(df_land)
#         os.remove(file)
        print('Added the ' + file + ' into land text file')
        print('deleted the file ' + str(file)) 
    elif "real_acct" in file:
        df_real_acct = pd.read_table(file,
                                   sep='\t',
                                    quotechar='"', 
                                    error_bad_lines=False,
#                                   widths=[11, 50, 40, 20, 2, 5, 3, 2, 10, 1, 8, 8, 2, 10, 8, 8, 2, 1, 3, 8, 6],
                                   header=None,
                                   names=real_account, index_col=False, engine= 'python') 
        df_real_acct = df_real_acct.append(df_real_acct)
#         os.remove(file)
        print('Added the ' + file + ' into real_acct text file')
        print('deleted the file ' + str(file)) 
    else:
#         os.remove(file)
        print('File not being used: ' + str(file))

File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\building_other.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\building_res.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\CPA_SIFT_Description.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\exterior.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\extra_features.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\extra_features_detail1.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\extra_features_detail2.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\fixtures.txt
Added the C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\land.txt into land text file
deleted the file C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\land.txt

Skipping line 50896: '	' expected after '"'

Added the C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\real_acct.txt into real_acct text file
deleted the file C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\real_acct.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\structural_elem1.txt
File not being used: C:\DataAnalyticsBootCamp\WEEK_23 - Project 3\Project_3_Potential_Marketing\CRE_Marketing_Data\HotelOccupancyTaxData\structural_elem2.txt

## Text file Land from Real_Building_land.zip
* and use, acreage, and land units.
* file contains the id's with the site cd of:
    * 4353  -- Office Bldgs. Low-Rise (1 to 4 Stories)
    * 4354

In [123]:
df_land.head()

,ACCOUNT,LINE_NUMBER,LAND_USE_CODE,LAND_USE_DSCR,SITE_CD,SITE_CD_DSCR,SITE_ADJ,UNIT_TYPE,UNITS,SIZE_FACTOR,SITE_FACT,APPR_OVERRIDE_FACT,APPR_OVERRIDE_REAS,TOT_ADJ,UNIT_PRICE,ADJ_UNIT_PRICE,VALUE,OVERRIDE_VALUE
0,122320000005,1,8001,Land Neighborhood Section 1,4600,,1.0,SF,3058.0,1.0,1.0,1.0,,1.0,2.00,2.0000,6116,
1,122420300001,1,8001,Land Neighborhood Section 1,4600,,1.0,SF,47916.0,1.0,1.0,1.0,,1.0,2.00,2.0000,95832,
2,122420300004,1,8001,Land Neighborhood Section 1,4600,,1.0,SF,6000.0,1.0,1.0,1.0,,1.0,2.00,2.0000,12000,
3,271800000001,1,8001,Land Neighborhood Section 1,4209,,1.0,SF,10000.0,1.0,1.0,1.0,Corner or Alley,1.0,20.00,20.0000,200000,
4,162660000030,1,8001,Land Neighborhood Section 1,4600,,1.0,SF,104816.0,1.0,1.0,1.0,,1.0,2.50,2.5000,262040,

#### Converting columns to int

In [124]:
# SITE_ADJ,UNITS,SIZE_FACTOR,SITE_FACT,TOT_ADJ

df_land['SITE_ADJ'] = df_land['SITE_ADJ'].fillna(0)
df_land['UNITS'] = df_land['UNITS'].fillna(0)
df_land['SIZE_FACTOR'] = df_land['SIZE_FACTOR'].fillna(0)
df_land['SITE_FACT'] = df_land['SITE_FACT'].fillna(0)
df_land['TOT_ADJ'] = df_land['TOT_ADJ'].fillna(0)

df_land['SITE_ADJ'] = df_land['SITE_ADJ'].astype(np.int64)
df_land['UNITS'] = df_land['UNITS'].astype(np.int64)
df_land['SIZE_FACTOR'] = df_land['SIZE_FACTOR'].astype(np.int64)
df_land['SITE_FACT'] = df_land['SITE_FACT'].astype(np.int64)
df_land['TOT_ADJ'] = df_land['TOT_ADJ'].astype(np.int64)

#### Count columns

In [125]:
df_land.count()

ACCOUNT               4581628
LINE_NUMBER           4581628
LAND_USE_CODE         4581628
LAND_USE_DSCR         4581628
SITE_CD               4581628
SITE_CD_DSCR          4581628
SITE_ADJ              4581628
UNIT_TYPE             4581628
UNITS                 4581628
SIZE_FACTOR           4581628
SITE_FACT             4581628
APPR_OVERRIDE_FACT    4581628
APPR_OVERRIDE_REAS    4581628
TOT_ADJ               4581628
UNIT_PRICE            4581628
ADJ_UNIT_PRICE        4581628
VALUE                 4581628
OVERRIDE_VALUE        4581628
dtype: int64

#### Filter data to specified building code for 4353 and 4354

In [126]:
df_land = df_land[(df_land['SITE_CD'] == '4353') | (df_land['SITE_CD'] == '4354')]
df_land.head()

,ACCOUNT,LINE_NUMBER,LAND_USE_CODE,LAND_USE_DSCR,SITE_CD,SITE_CD_DSCR,SITE_ADJ,UNIT_TYPE,UNITS,SIZE_FACTOR,SITE_FACT,APPR_OVERRIDE_FACT,APPR_OVERRIDE_REAS,TOT_ADJ,UNIT_PRICE,ADJ_UNIT_PRICE,VALUE,OVERRIDE_VALUE
128,10320000005,1,8001,Land Neighborhood Section 1,4353,,1,SF,10000,1,1,1.0,,1,150.00,150.0000,1500000,
2104,71940000009,1,8001,Land Neighborhood Section 1,4353,,1,SF,25000,1,1,1.0,Corner or Alley,1,75.00,75.0000,1875000,
2107,201360000033,1,8001,Land Neighborhood Section 1,4353,,1,SF,7500,1,1,1.0,,1,65.00,65.0000,487500,
2109,122430420001,1,8001,Land Neighborhood Section 1,4353,,1,SF,107833,1,1,1.0,,1,2.00,2.0000,215666,
2112,10290000009,1,8001,Land Neighborhood Section 1,4353,,1,SF,9998,1,1,1.0,,1,150.00,150.0000,1499700,

#### Counting filtered data

In [127]:
df_land.count()

ACCOUNT               7438
LINE_NUMBER           7438
LAND_USE_CODE         7438
LAND_USE_DSCR         7438
SITE_CD               7438
SITE_CD_DSCR          7438
SITE_ADJ              7438
UNIT_TYPE             7438
UNITS                 7438
SIZE_FACTOR           7438
SITE_FACT             7438
APPR_OVERRIDE_FACT    7438
APPR_OVERRIDE_REAS    7438
TOT_ADJ               7438
UNIT_PRICE            7438
ADJ_UNIT_PRICE        7438
VALUE                 7438
OVERRIDE_VALUE        7438
dtype: int64

#### Saving filtered land data

In [96]:
path = os.path.abspath('HotelOccupancyTaxData/landData.csv')
df_land.to_csv(path, index = False)

In [107]:
df_other_biz = df_other_biz[df_other_biz['ACCOUNT'].astype(int).isin(df_land['ACCOUNT'].astype(int))]
df_other_biz.count()

ACCOUNT               9878
USE_CODE              9878
BLD_NUM               9878
IMPROV_TYPE           9878
BUILDING_STYLE_COD    9878
CLASS_STRUCTURE       9878
CLASS_STRUC_DESCRI    9878
NOTICED_DEPR_VALUE    9878
DEPRECIATION_VALUE    9878
MS_REPLACEMENT_COS    9878
CAMA_REPLACEMENT_C    9878
ACCRUED_DEPR_PCT      9878
QUALITY               9878
QUALITY_DESCRIPTIO    9878
DATE_ERECTED          9878
EFFECTIVE_DATE        9878
YR_REMODEL            9878
YR_ROLL               9878
APPRAISED_BY          9878
APPRAISED_DATE        9878
NOTE                  9878
IMPR_SQ_FT            9878
ACTUAL_AREA           9878
HEAT_AREA             9878
GROSS_AREA            9878
EFFECTIVE_AREA        9878
BASE_AREA             9878
PERIMETER             9878
PERCENT_COMPLETE      9878
CATEGORY              9878
CATEGORY_DSCR         9878
PROPERTY_NAME         9878
UNITS                 9878
NET_RENT_AREA         9878
LEASE_RATE            9878
OCCUPANCY_RATE        9878
TOTAL_INCOME          9878
dtype: int64

In [108]:
path = os.path.abspath('HotelOccupancyTaxData/filteredOtherBuildingData.csv')
df_other_biz.to_csv(path, index = False)

## Real Account from Real Property Real_acct_owner.zip

In [128]:
df_real_acct.head(2)

,ACCOUNT,TAX_YEAR,MAILTO,MAIL_ADDR_1,MAIL_ADDR_2,MAIL_CITY,MAIL_STATE,MAIL_ZIP,MAIL_COUNTRY,UNDELIVERABLE,...,PROTESTED,CERTIFIED_DATE,LAST_INSPECTED_DAT,LAST_INSPECTED_BY,NEW_OWNER_DATE,LEGAL_DSCR_1,LEGAL_DSCR_2,LEGAL_DSCR_3,LEGAL_DSCR_4,JURS
0,10010000013,2019,CITY OF HOUSTON,PO BOX 1562,,HOUSTON,TX,77251-1562,,N,...,N,2019-08-02 00:00:00.000,2016-01-01 00:00:00.000,01391,1988-01-02 00:00:00.000,ALL BLK 1,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576
1,10020000001,2019,CURRENT OWNER,1717 SAINT JAMES PLACE STE 112,,HOUSTON,TX,77056-3412,,N,...,Y,2019-07-03 00:00:00.000,2017-11-17 14:58:10.597,00984,2012-10-31 00:00:00.000,TR 15 BLK 2,SSBB,NaN,NaN,001 040 041 042 043 044 048 061 265 268 576

#### Count of Real Acct DF

In [129]:
df_real_acct.count()

ACCOUNT         2950724
TAX_YEAR        2950724
MAILTO          2950724
MAIL_ADDR_1     2950724
MAIL_ADDR_2     2950724
                 ...
LEGAL_DSCR_1    2950724
LEGAL_DSCR_2    2950408
LEGAL_DSCR_3     471022
LEGAL_DSCR_4     112524
JURS            2950724
Length: 71, dtype: int64

## Filtering Account Data using the Accounts from the Land DF that have identified commercial real estate buildings

In [130]:
df_real_acct = df_real_acct[df_real_acct['ACCOUNT'].astype(int).isin(df_land['ACCOUNT'].astype(int))]
df_real_acct.count()

ACCOUNT         6852
TAX_YEAR        6852
MAILTO          6852
MAIL_ADDR_1     6852
MAIL_ADDR_2     6852
                ...
LEGAL_DSCR_1    6852
LEGAL_DSCR_2    6848
LEGAL_DSCR_3     922
LEGAL_DSCR_4     218
JURS            6852
Length: 71, dtype: int64

#### Saving the raw data of commercial building data

In [131]:
path = os.path.abspath('HotelOccupancyTaxData/RawCommercialBuildings.csv')
df_real_acct.to_csv(path, index = False)

#### Imports to connect to mysql database

In [132]:
from sqlalchemy import create_engine, event, DateTime
from db_setup import mysql_user, mysql_password, db_name
import mysql.connector
import datetime

#### Building Engine

In [133]:
connection_string = f"{mysql_user}:{mysql_password}@localhost:3306/{db_name}?charset=utf8"
engine = create_engine(f'mysql://{connection_string}')

#### Checking connectino by viewing the tables

In [134]:
engine.table_names()

['building_account',
 'ccim',
 'franchise_tax_info',
 'franchise_tax_info_date',
 'ftoffdir',
 'sales_tax_info',
 'sales_tax_info_date']

#### Selecting the specified table building_account to drop the data to

In [135]:
bld_acct_db = pdsql.read_sql("SELECT * FROM building_account",engine)

#### Filtering data that is within the database, if any

In [136]:
try:
    df_real_acct = df_real_acct[~df_real_acct['ACCOUNT'].astype(int).isin(bld_acct_db['ACCOUNT'].astype(int))]
    if df_real_acct.size != 0:
        print(f"There are {len(bld_acct_db)} data attributes in building_account table from the database\n{len(df_real_acct)} new companies, based on tax payer number from filtered data df_tact")
        df_real_acct.to_sql(name='building_account', con=engine, if_exists='append', index=False, chunksize=1000)
        print(f"building_account to database append, completed")
        f = open('HotelOccupancyTaxData/formattedData/DBUploadRecord.txt','a+')
        f.write(f'\building_account.csv, {len(df_real_acct)}, building_account table, {len(bld_acct_db)}\n')
        f.close()
    else:
        print("No new data")
        f = open('HotelOccupancyTaxData/formattedData/DBUploadRecord.txt','a+')
        f.write(f'building_account.csv, {len(df_real_acct)}, building_account table, {len(bld_acct_db)}\n')
        f.write('-------------------------------------------------------------\n')
        f.close()
except Exception as e:
    print(f"Something went wrong, df_ftact was not able to append to database or no new data: {e}")

There are 0 data attributes in building_account table from the database
6852 new companies, based on tax payer number from filtered data df_tact
building_account to database append, completed

## Cleaning up Dataframe of Building Accounts and only using needed columns

In [141]:
df_real_acct = df_real_acct[['ACCOUNT','TAX_YEAR','SITE_ADDR_1','SITE_ADDR_2','SITE_ADDR_3','MARKET_AREA_1_DSCR','ECON_BLD_CLASS','YR_IMPR','TOTAL_BUILDING_ARE']]

#### Filtering data with no duplicates

In [139]:
df_real_acct = df_real_acct.drop_duplicates(subset='ACCOUNT', keep='first')
df_real_acct.count()

ACCOUNT         3426
TAX_YEAR        3426
MAILTO          3426
MAIL_ADDR_1     3426
MAIL_ADDR_2     3426
                ...
LEGAL_DSCR_1    3426
LEGAL_DSCR_2    3424
LEGAL_DSCR_3     461
LEGAL_DSCR_4     109
JURS            3426
Length: 71, dtype: int64

#### Removing empty columns for zipcode and address

In [142]:
df_real_acct.dropna(subset=['SITE_ADDR_1', 'SITE_ADDR_3'])
df_real_acct.head()

,ACCOUNT,TAX_YEAR,SITE_ADDR_1,SITE_ADDR_2,SITE_ADDR_3,MARKET_AREA_1_DSCR,ECON_BLD_CLASS,YR_IMPR,TOTAL_BUILDING_ARE
30,10100000001,2019,1415 FRANKLIN ST,HOUSTON,77002,Central Business District,E,1985,4898
44,10150000001,2019,917 FRANKLIN ST,HOUSTON,77002,Central Business District,C,1870,54818
50,10160000007,2019,800 COMMERCE ST,HOUSTON,77002,Central Business District,C,1934,27304
76,10190000013,2019,808 FRANKLIN ST,HOUSTON,77002,Central Business District,E,1885,23910
87,10210000001,2019,1019 CONGRESS ST,HOUSTON,77002,Central Business District,E,1985,388513

#### Check data that has been dropped

In [143]:
df_real_acct.count()

ACCOUNT               3426
TAX_YEAR              3426
SITE_ADDR_1           3426
SITE_ADDR_2           3426
SITE_ADDR_3           3426
MARKET_AREA_1_DSCR    3426
ECON_BLD_CLASS        3426
YR_IMPR               3426
TOTAL_BUILDING_ARE    3426
dtype: int64

#### Filter to only Houston location

In [146]:
df_real_acct= df_real_acct[df_real_acct['SITE_ADDR_2']=='HOUSTON']
df_real_acct.head()

,ACCOUNT,TAX_YEAR,SITE_ADDR_1,SITE_ADDR_2,SITE_ADDR_3,MARKET_AREA_1_DSCR,ECON_BLD_CLASS,YR_IMPR,TOTAL_BUILDING_ARE
30,10100000001,2019,1415 FRANKLIN ST,HOUSTON,77002,Central Business District,E,1985,4898
44,10150000001,2019,917 FRANKLIN ST,HOUSTON,77002,Central Business District,C,1870,54818
50,10160000007,2019,800 COMMERCE ST,HOUSTON,77002,Central Business District,C,1934,27304
76,10190000013,2019,808 FRANKLIN ST,HOUSTON,77002,Central Business District,E,1885,23910
87,10210000001,2019,1019 CONGRESS ST,HOUSTON,77002,Central Business District,E,1985,388513

#### Save to csv file

In [147]:
path = os.path.abspath('HotelOccupancyTaxData/CommercialBuildings.csv')
df_real_acct.to_csv(path, index = False)